{% extends 'base.html '%}
{% block change_password_block %}

<style>
  .change_password_card {
    border: 1px solid #ccc;
    position: relative;
    background-color: white;
    width: 380px;
    margin: 0 auto; 
    padding: 20px;
    margin-top: 150px;
    height: 370px;
  }

  .formFields {
    display: flex;
    flex-direction: column;
    width: 80%;
    left: 8%;
    position: relative;
  }

  .formFields input {
    height: 30px;
  }

  .formFields input {
    width: 300px;
  }

  .change_pass_btn {
    background-color: #f77e7e;
    color: white;
    border: none;
    padding: 8px 129px;
    cursor: pointer;
    position: relative;
    left: 30px;
    margin-top: 15px;
    border-radius: 5px;
  }



</style>
<form method="post">
    <div class="change_password_card">
      <div class="formFields">
        {% csrf_token %}
        {{ form }}
      </div>
      <button type="submit" class="change_pass_btn">Change</button>
    </div>
  </form>

{% endblock %}